@model IEnumerable<CsHealthcare.ViewModel.Stock.DrugStockDetailsModel>

@foreach (var item in Model)
{
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.DrugType)   @Html.DisplayFor(modelItem => item.DrugName) (@Html.DisplayFor(modelItem => item.DrugUnitStrength))
        </td>
       
        <td style="width: 7% !important">
           @item.MafDate.Value.ToShortDateString()
        </td>
        <td style="width: 7% !important">
            @item.ExpDate.Value.ToShortDateString()
           
        </td>
        <td style="width: 7% !important">
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        @*<td style="width: 15% !important">
            @Html.DisplayFor(modelItem => item.CostPrice)
        </td>*@

        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.SubTotalPrice)
        </td>


        <td style="width: 20% !important">
            <a class="btn btn-primary btn-icon legitRipple" title="Edit" onclick="javascript: EditDrugStock('@item.DRUGId');"><i class="icon-pencil"></i></a>
            <a class="btn btn-xs btn-danger" title="Delete" onclick="javascript: if (confirm('Are you sure you want to do operation?') == false) return false; DeleteDrugDetails('@item.Id','@item.DRUGId'); "><i class="icon-trash"></i></a>
        </td>
    </tr>
}
