@model CsHealthcare.ViewModel.MedicineCorner.DrugPresentationTypeModel

@{
    ViewBag.Title = "Medicine Presentation Type";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title caption-subject font-green-sharp uppercase">@ViewBag.Title</h4>
</div>


@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DPT_ID)

            <div class="form-group">
                @Html.LabelFor(model => model.DPT_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DPT_DESCRIPTION, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.DPT_DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn default" style="width: 15%;">Cancel</button>
        <input type="submit" value="Update" class="btn green" style="width: 15%;" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




