@model IEnumerable<CsHealthcare.ViewModel.AppointmentSystem.DailyAppointmentSummaryModel>

<table class="table table-striped table-bordered table-hover" id="OptionList">
    <thead>
        <tr>
            <th style="width: 15% !important">
                Patient Id
            </th>
            <th style="width: 25% !important">
                Patient Name
            </th>
            <th style="width: 15% !important">
                Type
            </th>
            <th style="width: 15% !important">
                Time
            </th>
            <th>
                Purpose
            </th>
            <th>
                Fee
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 15% !important">
                    @item.PatientId
                </td>
                <td style="width: 25% !important">
                    @item.PatientName
                </td>
                <td style="width: 15% !important">
                    @item.PatientType
                </td>
                <td style="width: 15% !important">
                    @item.AppointmentTime
                </td>
                <td>
                    @item.AppointmentPurpose
                </td>
                <td>
                    @item.AppointmentFee Tk
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" title="Print" href="@Url.Action("PrintDoctorAppointmentPaySlip", "Enroll", new {area = "AppointmentSystem", Id=@item.PaymentId})" ><i class="fa fa-print"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    jQuery(document).ready(function () {

        var table = $('#OptionList');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.


            "lengthMenu": [
                [15, 25, 50, -1],
                [15, 25, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 15,
            "pagingType": "bootstrap_full_number",
            "language": {
                "search": "My search: ",
                "lengthMenu": "  _MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [6]
            }, {
                "searchable": false,
                "targets": [6]
            }],
            "order": [
                [4, "asc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#OptionList_wrapper');

        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    });
</script>
