@using Cs.Utility
@model CsHealthcare.ViewModel.Doctor.DoctorAppointmentModel

@{
    ViewBag.Title = "User WiseDaily Appointment Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="page-content" style="min-height:247px">
            <div class="container-fluid">

                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green-sharp"></i>
                            <span class="caption-subject uppercase font-green-sharp">@ViewBag.Title</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="javascript:;" class="fullscreen">
                            </a>
                        </div>
                        <div class="actions margin-right-10">
                            <a class="btn btn-circle green-jungle" href="@SessionManager.DashBoard">
                                <i class="fa fa-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-1">Date</div>
                                    <div class="col-md-3">
                                        <input id="txtAppointmentDate" required="required" name="txtAppointmentDate" value="" class="form-control date-picker" placeholder="Appointment Date" type="text" />
                                    </div>
                                    <div class="control-label col-md-1">User</div>
                                    <div class="col-md-4">
                                        <select id="ddlUser" class="form-control"></select>
                                    </div>
                                    <div class="actions margin-right-10">
                                        <a class="btn btn-circle green-jungle" style="" onclick="javascript:CurrentAppointmentList();">
                                            <i class="fa fa-search"></i> Search
                                        </a>
                                        @*<a class="btn btn-circle green-jungle" style="width: 8% !important;" target="_blank" href="@Url.Action("ReportSample", "Appointment", new {area = "AppointmentSystem"})">
                                                <i class="fa fa-print"></i> Print
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="appointment_list_container" class="row" style="">

                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-bell font-green-sharp"></i>
                                    <span class="caption-subject uppercase font-green-sharp">Appointment List</span>
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse">
                                    </a>

                                    <a href="javascript:;" class="fullscreen">
                                    </a>
                                </div>
                            </div>
                            <div class="portlet-body portlet-empty" id="loadData">


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

<div id='myModal' class='modal fade in' tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section page_styles {
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/typeahead/typeahead.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/Assets/global/plugins/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/Assets/Pages/components-pickers.js"></script>
    <script src="~/Scripts/jquery.format.1.05.js"></script>

    <script>

        jQuery(document).ready(function () {
            ComponentsPickers.init();
            $('#txtAppointmentDate').val(getTodate());
            LoadUserList();
        });

        function getTodate() {
            var dob = new Date();
            var day = (dob.getDate() < 10 ? '0' : '') + dob.getDate();
            var month = ((dob.getMonth() + 1) < 10 ? '0' : '') + (dob.getMonth() + 1);
            return (month + "/" + day + "/" + dob.getFullYear());
        }

        function LoadUserList() {
            App.blockUI();
            var options = $("#ddlUser");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("LoadUserList", "Appointment", new {Area = "AppointmentSystem"}))",
                data: {},
                dataType: "html",
                success: function (result) {
                    var t = JSON.parse(result);
                    $.each(t, function () {
                        options.append($("<option />").val(this.Name).text(this.Name));
                    });
                    CurrentAppointmentList();
                    App.unblockUI();
                },
                error: function (error) {
                    App.unblockUI();
                    var msg = 'Fail to load user list';
                    alert(msg);
                }
            });
        }

        function searchValidationCheck() {
            if ($('#txtAppointmentDate').val() == "") {
                alert("Please insert appointment date.");
                $('#txtAppointmentDate').focus();
                return false;
            } else {
                return true;
            }
        }

        function CurrentAppointmentList() {
            if (searchValidationCheck()) {
                App.blockUI();
                var el = $("#loadData");
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@(@Url.Action("UserWiseDailyAppointmentSummaryList", "Appointment", new {Area = "AppointmentSystem"}))",
                    data: { "AppointmentDate": $('#txtAppointmentDate').val(), "User": $('#ddlUser').val() },
                    dataType: "html",
                    success: function (res) {
                        App.unblockUI();
                        el.html(res);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        App.unblockUI();
                        var msg = 'Fail to load appointment list.';
                        if (error == "toastr" && toastr) {
                            toastr.error(msg);
                        } else if (error == "notific8" && $.notific8) {
                            $.notific8('zindex', 11500);
                            $.notific8(msg, {
                                theme: 'ruby',
                                life: 3000
                            });
                        } else {
                            alert(msg);
                        }
                    }
                });
            }
        }



    </script>

}