@using System.Diagnostics.Eventing.Reader
@model IEnumerable<CsHealthcare.ViewModel.Accounts.LCSummaryModel>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Issue Date</th>
        <th>Lc No</th>
        <th>Supplier</th>
        <th>Item</th>
        <th>Lc Value</th>
        <th>Port</th>
        <th>Remarks</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IssueDate
                    @*@Html.DisplayFor(modelItem => item.IssueDate.ToString("dd"))*@
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LCNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @if (item.CurrencyTypeId == 1)
                    {

                        <span>&#2547;</span> @Html.DisplayFor(modelItem => item.LCValue)

                    }
                    else if (item.CurrencyTypeId == 2)
                    {

                        <span>&#36;</span>
                        @Html.DisplayFor(modelItem => item.LCValue)

                    }
                    else
                    {

                        <span>&#8364;</span>
                        @Html.DisplayFor(modelItem => item.LCValue)

                    }



                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rmks)
                </td>


            </tr>

        }
    </tbody>
</table>
@*</table>*@




