
@model IEnumerable<CsHealthcare.ViewModel.Patient.SurgeonNameModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.DoctorName
        </td>

        <td style="width: 15% !important">
            @item.SurgeonAmount
        </td>

        <td style="width: 15% !important">
            <a class="btn btn-primary btn-icon legitRipple" title="Edit" onclick="javascript: EditTest('@item.DoctorId');"><i class="icon-pencil"></i></a>
            <a class="btn btn-xs btn-danger" title="Delete" onclick="javascript: if (confirm('Are you sure you want to do operation?') == false) return false; DeleteTestDetails('@item.Id','@item.DoctorId'); "><i class="icon-trash"></i></a>
        </td>
    </tr>
}




