@model CsHealthcare.ViewModel.MedicineCorner.DrugDepartmentWiseStockInModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm())
    {
        @*<div class="col-md-1"></div>*@
        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        @*<i class="fa fa-question font-green-sharp"></i>*@
                        <span class="caption-subject font-green-sharp uppercase">Department Wise Drug Stock In</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                    </div>
                    <div class="actions margin-right-10">

                    </div>
                </div>

                <div class="portlet-body portlet-empty">

                    <div class="col-md-12 row form-group">

                        <div class="col-md-5">
                            <div class="col-md-3">Entry Date </div>
                            <div class="col-md-7">
                                <input id="Date" name="Date" class="form-control datetimepicker" type="datetime" value="@DateTime.Now.ToString("d")" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-3">Memo No </div>
                            <div class="col-md-7">
                                <input id="MemoNo" name="MemoNo" class="form-control " type="text" value="@ViewBag.MemoNo" placeholder="" readonly/>
                            </div>
                        </div>

                        
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-4">DepartmentId : </div>
                        <div class="col-md-8">
                            @*@Html.DropDownList("DRUG_MANUFACTURERId", null, htmlAttributes: new {@class = "form-control border-radius-4"})*@
                            <select id="DepartmentId" name="DepartmentId" class="form-control" value="" placeholder=""></select>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
            @*<div class="col-md-1"></div>*@
        </div>


        <div class="col-md-12">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        @*<i class="fa fa-question font-green-sharp"></i>*@
                        <span class="caption-subject font-green-sharp uppercase">Drug Details</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                        <a href="javascript:;" class="fullscreen">
                        </a>
                    </div>
                    <div class="actions margin-right-10">

                    </div>
                </div>

                <div class="portlet-body portlet-empty">
                    <div class="col-md-12 form-group">
                        <table class="table table-striped table-bordered table-hover" id="tabChiefComplaintList">
                            <thead>
                                <tr>
                                    <th style="width: 25% !important">
                                        Drug
                                    </th>
                                    @*<th style="width: 15% !important">
                                Drug Type
                            </th>
                            <th style="width: 15% !important">
                                UnitStrength
                            </th>*@
                                    <th style="width: 10% !important">
                                        Avl Qty
                                    </th>
                                    <th style="width: 7% !important">
                                        Qty
                                    </th>
                                    <th style="width: 10% !important">
                                        UnitPrice
                                    </th>
                                    <th style="width: 10% !important">
                                        SalePrice
                                    </th>
                                    @*<th style="width: 15% !important">
                                CostPrice
                            </th>*@
                                    <th style="width: 10% !important">
                                        SubTotal
                                    </th>
                                    <th style="width: 18% !important">Action</th>
                                </tr>
                            </thead>
                            <tbody id="drugStockDetailsList"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12 form-group">
                        <table>
                            <tr>
                                <td style="width: 20% !important">
                                    <input type="hidden" id="dId" name="dId" value="" />
                                    <input class="form-control" id="DrugId" name="DrugId" value="" placeholder="Drug Name" />
                                </td>
                                <th style="width: 10% !important">
                                    <input id="AQuantity" name="AQuantity" class="form-control" readonly="" placeholder="" />
                                </th>
                                
                                <td style="width: 10% !important;margin-left:10px" >
                                    <input id="Quantity" name="Quantity" class="form-control " oninput="calculate()" />
                                </td>
                                <td style="width: 10% !important">
                                    <input id="UnitPrice" name="UnitPrice" class="form-control twodigitdecimalnumber" oninput="calculate()" />
                                </td>
                                <td style="width: 10% !important">
                                    <input id="SalePrice" name="SalePrice" class="form-control twodigitdecimalnumber" />
                                </td>
                                @*<td style="width: 15% !important">
                            @Html.DisplayFor(modelItem => item.CostPrice)
                        </td>*@

                                <td style="width: 10% !important">
                                    <input id="SubTotalPrice" name="SubTotalPrice" class="form-control " />
                                </td>


                                <td style="width: 15% !important">
                                    <a id="addbtn" onclick="javascript: SetStockDetails(); " class="btn btn-primary dropdown-toggle">
                                        Add
                                    </a>
                                    <a id="updatebtn" onclick="javascript: SetStockDetails(); " class="btn btn-primary dropdown-toggle" style="display: none;">
                                        Update
                                    </a>
                                </td>
                            </tr>
                        </table>
                        


                    </div>


                    <br /><br /><br /><br />
                    

                    <div class="" style="text-align: center;">
                        <a class="btn default" style="width: 15%;margin-top: 30px" href="@Url.Action("Index", "DepartmentWiseDrugStockIn", new {Area = "MedicineCorner"})">Cancel</a>
                        <input type="submit" value="Save" class="btn green" style="width: 15%;margin-top: 30px" />
                    </div>
                </div>

                <br /><br /><br /><br />

                <div class="col-md-12" style="display: none">
                    <div class="col-md-4"></div>
                    <div class="col-md-7">
                        <div class="col-md-6" style="margin-top: 30px">
                            <div class="col-md-6">
                                TotalQuantity
                            </div>
                            <div class="col-md-6">
                                <input id="TotalQty" name="TotalQty" class="form-control  " readonly placeholder="" />
                            </div>

                        </div>

                        @*<div class="col-md-6 row" style="padding-left: 30px;margin-top: 30px">
                                <div class="col-md-6">
                                    TotalAmount
                                </div>
                                <div class="col-md-6">
                                    <input id="TotalAmount" name="InvAmount" class="form-control " placeholder="" />
                                </div>

                            </div>*@

                    </div>
                    <div class="col-md-1">

                    </div>
                </div>


                <div class="" style="text-align: center;display: none">
                    <a class="btn default" style="width: 15%;margin-top: 30px" href="@Url.Action("Index", "PurchaseOrder", new {Area = "MedicineCorner"})">Cancel</a>
                    <input type="submit" value="Save" class="btn green" style="width: 15%;margin-top: 30px" />
                </div>
            </div>

        </div>
            

    }
</div>






@section page_styles
{
    <link href="~/assets/global/plugins/jcrop/css/jquery.Jcrop.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" />
    @*<link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>*@
    <link href="~/assets/global/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" />

    <style>
        .tt-query {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999;
        }

        .tt-dropdown-menu { /* used to be tt-dropdown-menu in older versions */
            width: 422px;
            margin-top: 4px;
            padding: 4px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            line-height: 24px;
        }

            .tt-suggestion.tt-cursor, .tt-suggestion:hover {
                color: #fff;
                background-color: #0097cf;
            }

            .tt-suggestion p {
                margin: 0;
            }
    </style>
}


@section Scripts {

    <script src="~/Scripts/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            LoadManufacturer1();
            initDrugAutoComplete();
        });


        function LoadManufacturer1() {
            //Metronic.blockUI();
            $('#DepartmentId').find('option').remove();
            var options = $("#DepartmentId");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("LoadDeparment", "DepartmentWiseDrugStockIn", new {Area = "MedicineCorner"}))",
                data: {},
                dataType: "html",
                success: function(result) {
                    //Metronic.unblockUI();LoadProduct();
                    var t = JSON.parse(result);
                    options.append($("<option />").val("").text("-Select -"));
                    $.each(t, function() {
                        options.append($("<option />").val(this.Id).text(this.Name));
                    });
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    //Metronic.unblockUI();
                    var msg = 'Fail to load Department list.';
                    alert(msg);
                }
            });
        }



        function initDrugAutoComplete() {
            $('#DrugId').typeahead({
                hint: true,
                highlight: true,
                minLength: 2,
                limit: 8
            }, {
                source: function (searchString, cb) {
                    return $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        url: " /MedicineCorner/DepartmentWiseDrugStockIn/LoadDrugs",
                        data: "{'SearchString':'" + searchString + "'}",
                        chache: false,
                        success: function (data) {
                            var result = [];
                            $.each(data, function (index, val) {
                                result.push({
                                    Id: val.D_ID,
                                    Name: val.D_TRADE_NAME,
                                    value: val.D_TRADE_NAME + ' ' + val.DPT_DESCRIPTION + ' (' + val.D_UNIT_STRENGTH + ')'
                                });
                            });
                            cb(result);
                        }
                    });
                }
            }).on("typeahead:selected", function (obj, patient) {
                $("#dId").val(patient.Id);
                //$("#DrugId").val(patient.Id);
                LoadDrugPrice();
                //LoadManufacturer();
                //$("#txtPatientName").val(patient.Name);
                //$("#txtMobileNumber").val(patient.Mobile);
            });

        }

        function LoadDrugPrice() {
            //Metronic.blockUI();

            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("LoadPrice", "DepartmentWiseDrugStockIn", new {Area = "MedicineCorner"}))",
                data: { "drugId": $("#dId").val() },
            dataType: "html",
            success: function (result) {
                //Metronic.unblockUI();LoadProduct();
                var t = JSON.parse(result);

                $('#UnitPrice').val(t.UnitPrice);
                $('#SalePrice').val(t.SalePrice);
                $('#AQuantity').val(t.rqty);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //Metronic.unblockUI();
                var msg = 'Fail to load patient list.';
                alert(msg);
            }
        });
        }


        function calculate() {
            var myBox1 = document.getElementById('Quantity').value;
            var myBox2 = document.getElementById('UnitPrice').value;
            //var result = document.getElementById('SubTotal');
            var subtotal = document.getElementById('SubTotalPrice');
            var total = document.getElementById('Total');
            var myResult = myBox1 * myBox2;
            subtotal.value = myResult;
            total.value = myResult;
        }


        function SetStockDetails() {
            //if (SellsDetailsValidationCheck()) {
            //App.blockUI();
            var loadArea = $("#drugStockDetailsList");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("SetDrugStockDetailsList", "DepartmentWiseDrugStockIn", new {Area = "MedicineCorner" }))",
                data: { "dId": $('#dId').val(), "Quantity": $('#Quantity').val(), "UnitPrice": $('#UnitPrice').val(), "SalePrice": $('#SalePrice').val(), "SubTotalPrice": $('#SubTotalPrice').val() },
            dataType: "html",
            success: function (result) {
                //App.unblockUI();
                //loadsellsDetails();
                loadArea.html(result);
                $('#DrugId').val('');
                $('#Quantity').val('');
                $('#UnitPrice').val('');
                $('#SalePrice').val('');
                $('#SubTotalPrice').val('');


                $('#addbtn').show();
                $('#updatebtn').hide();

                //getTotal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //App.unblockUI();
                var msg = 'Fail to set Drug Details list.';
                alert(msg);
            }
        });
        // }
        }

        function EditDrugStock(DrugId) {
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("EditDrugStockDetails", "DepartmentWiseDrugStockIn", new {Area = "MedicineCorner" }))",
                data: { "DrugId": DrugId },
            dataType: "html",
            success: function (result) {
                //App.unblockUI();
                var value = JSON.parse(result);
                $('#dId').val(value.DrugId);
                $('#DrugId').val(value.DrugName);

                $('#Quantity').val(value.Quantity);
                $('#UnitPrice').val(value.UnitPrice);
                $('#SalePrice').val(value.SalePrice);
                $('#SubTotalPrice').val(value.SubTotalPrice);

                $('#addbtn').hide();
                $('#updatebtn').show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //App.unblockUI();
                var msg = 'Fail to load test information.';
                alert(msg);
            }
        });
        }


        function DeleteDrugDetails(Id, DrugId) {
            var loadArea = $("#drugStockDetailsList");
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("DeleteDrugDetails", "DrugStockIn", new {Area = "MedicineCorner" }))",
                data: { "Id": Id, "DrugId": DrugId },
            dataType: "html",
            success: function (result) {
                //loadsellsDetails();
                loadArea.html(result);
                //getTotal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //App.unblockUI();
            }
        });
        }
    </script>
}