@model IEnumerable<CsHealthcare.ViewModel.Store.StockInDetailsModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreItemName)
        </td>
        <td style="width: 7% !important">
            @item.MafDate.Value.ToString("d")
        </td>
        <td style="width: 7% !important">
            @item.ExpDate.Value.ToString("d")

        </td>
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
       @* <td style="width: 15% !important">
        @Html.DisplayFor(modelItem => item.CostPrice)
    </td>*@

        <td style="width: 10% !important">
            @Html.DisplayFor(modelItem => item.SubTotalPrice)
        </td>


        <td style="width: 15% !important">
            <a class="btn btn-primary btn-icon legitRipple" title="Edit" onclick="javascript: EditTest('@item.StoreItemId');"><i class="icon-pencil"></i></a>
            @*<a class="btn btn-xs btn-danger" title="Delete" onclick="javascript: if (confirm('Are you sure you want to do operation?') == false) return false; DeleteTestDetails('@item.Id','@item.TestNameId'); "><i class="icon-trash"></i></a>*@
        </td>
    </tr>
}

