
@{
    ViewBag.Title = "_List";
    Layout = null;
}
@model IEnumerable<CsHealthcare.ViewModel.Accounts.BankAccountModel>
<table class="table table-striped table-bordered table-hover" id="bankaccountList">
    <thead>
        <tr>
            <th>Code</th>
            <th>AccountName</th>
            <th>AccountType</th>
            <th>BankName</th>
            <th>BankAddress</th>

            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody id="d">

        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 15% !important;">@Html.DisplayFor(modelItem => item.Code)</td>
                <td style="width: 15% !important;">@Html.DisplayFor(modelItem => item.AccountName)</td>
                <td style="width: 15% !important;">@Html.DisplayFor(modelItem => item.AccountyType)</td>
                <td style="width: 15% !important;">@Html.DisplayFor(modelItem => item.BankName)</td>
                <td style="width: 15% !important;">@Html.DisplayFor(modelItem => item.BankAddress)</td>



                <td  class="text-center"style="width: 15% !important;">
                    <a class="btn btn-xs green" title="Edit" href="@(Url.Action("Edit", "BankAccount", new {id = item.BA_Id}))"><i class="glyphicon glyphicon-pencil"></i></a>
               
                </td>
            </tr>
        }

    </tbody>
</table>
<script>

    jQuery(document).ready(function () {

        var table = $('#bankaccountList');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.


            "lengthMenu": [
                [15, 25, 50, -1],
                [15, 25, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 15,
            "pagingType": "bootstrap_full_number",
            "language": {
                "search": "My search: ",
                "lengthMenu": "  _MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [5]
            }, {
                "searchable": false,
                "targets": [5]
            }],
            "order": [
                [1, "desc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#OptionList_wrapper');

        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    });

</script>

