@model CsHealthcare.ViewModel.Accounts.BankTransactionModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Edit Bank Account
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="" class="fullscreen" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
        </div>

    </div>
    <div class="portlet-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_ID, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_ID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_BA_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_BA_ID, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_BA_ID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_BA_CODE, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_BA_CODE, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_BA_CODE, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_BA_ACCOUNT_NAME, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_BA_ACCOUNT_NAME, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_BA_ACCOUNT_NAME, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_TXN_NO, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_TXN_NO, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_TXN_NO, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_PAY_TYPE, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_PAY_TYPE, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_PAY_TYPE, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_AMOUNT, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_AMOUNT, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_AMOUNT, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_TRANS_DATE, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_TRANS_DATE, new
                        {
                            htmlAttributes = new {@class = "form-control datetimepicker", type = "datetime"}
                        })
                        @Html.ValidationMessageFor(model => model.BTR_TRANS_DATE, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_NARATION, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_NARATION, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.BTR_NARATION, "", new {@class = "text-danger"})
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.BTR_REC_STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_REC_STATUS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BTR_REC_STATUS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_REC_USER, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_REC_USER, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BTR_REC_USER, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BTR_REC_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BTR_REC_DATE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BTR_REC_DATE, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="text-center form-group" style="margin-left: 20%">
                    <div class="col-md-12">
                        <button type="submit" class="btn bg-teal-400 btn-labeled legitRipple"><b><i class="icon-floppy-disk"></i></b> Update</button>
                        @*<input type="submit" value="Save" class="btn bg-indigo-300 legitRipple"/>*@
                        <a href="@Url.Action("Index", "BankTransaction", new {Area = "Accounts"})" type="button" class="btn bg-danger btn-labeled legitRipple" style="margin-left: 1%;"> <b><i class="icon-x"></i></b> Cancel</a>


                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            $(".datetimepicker").datepicker();
        });
    </script>
}