
@using Microsoft.AspNet.Identity
@model CsHealthcare.ViewModel.MedicineCorner.DrugDepartmentWiseStockOutModel

@{
    ViewBag.Title = "Drug Sale  Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    @@page {
        size: auto;
        margin: 0;
    }

    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm;
        background: white;
    }

    .subpage {
        padding: 1cm;
        height: 256mm;
        outline: 2cm #FFEAEA solid;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        border-spacing: 5px;
    }

    th, td {
        padding: 3px;
    }

    @@print {
        .hide-from-printer {
            display: none;
        }
    }
</style>
<div class="page">
    <h2 style="text-align: center; ">Better Life Hospital Ltd</h2>
    <div style="text-align: center;">1 East Rampura, D.I.T. Road , Dhaka-1219</div>
    <div style="text-align: center;">
        Hot Line:<a class="tel">09639786786,&nbsp;</a><a class="tel">09678786787</a>
    </div>
    <div style="text-align: center;margin: 10px auto;"><span style="text-decoration: underline;">Buffer Sale</span> </div>
    <div>
        @*<p >PurchaseDate: &nbsp;@Model.RecordDate.ToString("d")</p>
            <p >Company Name: &nbsp;@Model.DRUG_MANUFACTURERName</p>*@

        <table style="width: 567px; margin: 0 auto; border: 1px solid">
            <tbody>
                <tr>
                    <td style="width: 96px;">Memo NO</td>
                    <td style="width: 376px;">@Model.MemoNo</td>
                    <td style="width: 114px;">Date</td>
                    <td style="width: 216px;">@Model.Date.ToString("d")</td>
                </tr>
                @*<tr>
                        <td style="width: 96px;">Company</td>
                        <td style="width: 376px;">@Model.ManufacturerName</td>
                        <td style="width: 114px;">&nbsp;</td>
                        <td style="width: 216px;">&nbsp;</td>
                    </tr>*@
            </tbody>
        </table>
    </div>
    <br /><br />
    <div style="width: 100%;text-align: center;"><span>These items have been sold</span></div>
    <table style="height: 105px; margin: 10px auto;" width="550">
        <tbody>
            <tr>
                <td style="width: 35px;">SL</td>
                <td style="width: 350px;">Drug Name</td>
                <td style="width: 75px;">Quantity</td>
                <td style="width: 75px;">UnitPrice</td>
                <td style="width: 150px;">SubTotal Price</td>
            </tr>
            @{
                // csharp code block
                // everything in here is code, don't have to use @
                int counter = 1;
            }
            @foreach (var item in Model.DrugDepartmentWiseStockOutDetailsModel)
            {
                int qty = (int)item.Quantity;
                <tr>
                    <td style="width: 35px;">@counter</td>
                    <td style="width: 350px;">@item.DrugName @*&nbsp;&nbsp;@item.DrugType &nbsp;&nbsp;(@item.UnitStrength)*@</td>
                    <td style="width: 75px; text-align: right">@qty </td>
                    <td style="width: 75px; text-align: right">@item.SalePrice </td>
                    <td style="width: 75px;text-align: right">@item.SubTotalPrice  </td>
                </tr>
                counter++;
            }

            @*<tr>
                    <td style="width: 35px;">&nbsp;</td>
                    <td style="width: 350px; text-align: right">&nbsp;Total Quantity:</td>
                    <td style="width: 75px; text-align: right">@Model.InvQuantity </td>
                </tr>*@
        </tbody>
    </table>

    <div style="width: 100%;margin-top: 0px;text-align: center;float: left;">
        <div class="col-xs-4" style="width: 20%;float: left;"></div>
        <div class="col-xs-4" style="width: 35%;float: left;"></div>
        <div class="col-xs-4" style="width: 45%;float: right;">Total Price : @Model.TotalAmount</div>
    </div>
    @*<div style="width: 100%;margin-top: 0px;text-align: center;float: left;">
            <div class="col-xs-4" style="width: 20%;float: left;"></div>
            <div class="col-xs-4" style="width: 30%;float: left;"></div>
            <div class="col-xs-4" style="width: 50%;float: right;">Discount : @Model.DiscountAmount</div>
        </div>
        <div style="width: 100%;margin-top: 0px;text-align: center;float: left;">
            <div class="col-xs-4" style="width: 20%;float: left;"></div>
            <div class="col-xs-4" style="width: 30%;float: left;"></div>
            <div class="col-xs-4" style="width: 50%;float: right;">Total Amount : @Model.InvAmount</div>
        </div>*@


    <div style="width: 100%;margin-top: 60px;text-align: center;float: left;">
        <div style="width: 33%;float: left;">Prepared By : @User.Identity.GetUserName()</div>
        @*<div style="width: 33%;float: left;">Checked By</div>
            <div style="width: 33%;float: left;">Approved By</div>*@
    </div>
    <div style="width: 100%; text-align: center;">
        <button id="btnPrint" onclick="myFunction()" class="hide-from-printer" style="margin-top:10%">Print </button>
        <a id="btnCancel" href="@Url.Action("Create", "DepartmentWiseDrugStockOut", new {Area = "MedicineCorner"})" type="button" class="" style="margin-left: 1%;" class="hide-from-printer">Cancel</a>
    </div>
</div>


<script>
    function myFunction() {
        //Get the print button and put it into a variable
        var printButton = document.getElementById("btnPrint");
        var cancelButton = document.getElementById("btnCancel");
        //Set the print button visibility to 'hidden'
        printButton.style.visibility = 'hidden';
        cancelButton.style.visibility = 'hidden';
        //Print the page content
        window.print();
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        printButton.style.visibility = 'visible';
        cancelButton.style.visibility = 'visible';


    }
</script>