
@model IEnumerable<CsHealthcare.ViewModel.Cabin.ICUBedsModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td style="width: 15% !important">
                @Html.DisplayFor(modelItem => item.Discount)
            </td>*@
        <td style="width: 15% !important">
            @Html.DisplayFor(modelItem => item.PriceByDay)
        </td>
        <td style="width: 15% !important">
            @Html.DisplayFor(modelItem => item.PriceByHour)
        </td>
        <td style="width: 15% !important">
            <a class="btn btn-primary btn-icon legitRipple" title="Edit" onclick="javascript: EditTest('@item.Name');"><i class="icon-pencil"></i></a>
            <a class="btn btn-xs btn-danger" title="Delete" onclick="javascript: if (confirm('Are you sure you want to do operation?') == false) return false; DeleteTestDetails('@item.Id','@item.Name'); "><i class="icon-trash"></i></a>
        </td>
    </tr>
}




