@using System.Configuration

@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
}

<!-- BEGIN PROFILE CONTENT -->
<div class="container">
    <div class="profile-content">
        <div class="row">


            <div class="col-md-6">
                <!-- BEGIN PORTLET -->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Quick Menu</span>
                            <span class="caption-helper hide">weekly stats...</span>
                        </div>

                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                            @*  <a href="javascript:;" data-load="true" data-url="@Url.Action("patientLocationHistory", "Patient", new {Area = "MsAdmin", id = Model.Id})" c class="reload">
                                </a>*@
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>

                    </div>
                    <div class="portlet-body  portlet-empty">
                        <div class="tiles">
                            <a href="@Url.Action("Index", "PatientInformation", new {area = "PatientInformation"})" class="tile  bg-blue-hoki">

                                <div class="tile-body">
                                    <i class="fa fa-male"></i>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Patient Information
                                    </div>
                                    <div class="number">

                                    </div>
                                </div>
                            </a>

                            <a href="@Url.Action("Index", "Patient", new {area="PatientInformation"})" class="tile  bg-blue-hoki">

                                <div class="tile-body">
                                    <i class="fa fa-male"></i>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Patient
                                    </div>
                                    <div class="number">

                                    </div>
                                </div>
                            </a>

                            @if (((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(ConfigurationManager.AppSettings["Doctor.Id"]) != null)
                            {
                                <a href="@Url.Action("Index", "Prescription", new {area = "PatientManagement"})" class="tile bg-red-sunglo">
                                    <div class="tile-body">
                                        <i class="fa fa-heartbeat"></i>
                                    </div>
                                    <div class="tile-object">
                                        <div class="name">
                                            Prescription
                                        </div>
                                        <div class="number">

                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                if (User.IsInRole("Patient History"))
                                {
                                    <a href="@Url.Action("Index", "History", new {area = "PatientManagement"})" class="tile bg-red-sunglo">
                                        <div class="tile-body">
                                            <i class="fa fa-file-text-o"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name">
                                                History
                                            </div>
                                            <div class="number">

                                            </div>
                                        </div>
                                    </a>
                                }
                                else if (User.IsInRole("Patient Accounts"))
                                {
                                    <a href="@Url.Action("Index", "AppointmentPaymentPurpose", new {area = "AppointmentSystem"})" class="tile double bg-green">
                                        <div class="tile-body">
                                            <i class="fa fa-dollar"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name">
                                                Payment Purpose
                                            </div>
                                            <div class="number">

                                            </div>
                                        </div>
                                    </a>

                                    <a href="@Url.Action("Index", "AppointmentPayment", new {area = "AppointmentSystem"})" class="tile bg-red-sunglo">
                                        <div class="tile-body">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="tile-object">
                                            <div class="name">
                                                Payment
                                            </div>
                                            <div class="number">

                                            </div>
                                        </div>
                                    </a>
                                }
                            }

                            <a href="@Url.Action("ManagePrescription", "Prescription", new {area = "PatientManagement"})" class="tile double  bg-green-jungle">

                                <div class="tile-body">
                                    <i class="fa fa-print"></i>
                                </div>
                                <div class="tile-object">
                                    <div class="name">
                                        Print Prescription
                                    </div>
                                    <div class="number">

                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>


            <div class="col-md-6">
                <!-- BEGIN PORTLET -->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Completed Patient test History</span>
                            <span class="caption-helper hide">weekly stats...</span>
                        </div>

                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>

                            @* <a href="javascript:;" data-load="true" data-url="@Url.Action("AdminLocationHistory", "Patient", new { Area = "MsAdmin", id = Model.Id })" c class="reload">
                                </a>*@
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>

                    </div>
                    <div class="portlet-body  portlet-empty">

                    </div>
                </div>
                <!-- END PORTLET -->
            </div>

        </div>

    </div>
    <!-- END PROFILE CONTENT -->
</div>
