@model IEnumerable<CsHealthcare.ViewModel.Patient.PatientAllergyInformationModel>


<table class="table table-striped table-bordered table-hover" id="tabChiefComplaintList">
    <thead>
        <tr>
            <th style="width: 25% !important">
                @Html.DisplayNameFor(model => model.AllergyName)
            </th>
            <th style="width: 20% !important">
                @Html.DisplayNameFor(model => model.AllergySubstanceName)
            </th>
            <th style="width: 10% !important">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 25% !important">
                    @Html.DisplayFor(modelItem => item.AllergyName)
                </td>
                <td style="width: 20% !important">
                    @Html.DisplayFor(modelItem => item.AllergySubstanceName)
                </td>
                <td style="width: 10% !important">
                    <a class="btn btn-xs green" title="Edit" onclick="javascript: ViewAllergyInformation(@item.AllergyInformationId);"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-xs btn-danger" title="Delete" onclick="javascript: if (confirm('Are you sure you want to do operation?') == false) return false; DeleteAllergy(@item.AllergyInformationId); "><i class="fa fa-trash-o"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>




@*<script src="~/Assets/Page/table-managed.js"></script>*@
<script>
    jQuery(document).ready(function () {

       
    });
</script>
