

@*@model CsHealthcare.ViewModel.Master.MsAmountPurposeModel*@

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-question font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp uppercase">Doctor Purpose Information</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="javascript:;" class="fullscreen">
                    </a>
                </div>
                <div class="actions margin-right-10">

                </div>
            </div>
            @*<hr style="margin-top: 0;">*@
            <div class="portlet-body portlet-empty">

                @*@using (Html.BeginForm())
                {*@
                    @*<div class="modal-body">*@
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <input class="form-control" name="DoctorId" id="DoctorId" type="hidden" value="@ViewBag.DoctorId">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.DoctorName, htmlAttributes: new { @class = "control-label col-md-4" })*@
                        <div class="control-label col-md-4">Doctor Name</div>
                        <div class="col-md-8">
                            <input id="DoctorId" required="required" name="DoctorId" value="" class="form-control hide" placeholder="" type="text" />
                            <input class="form-control" name="DoctorName" id="DoctorName" type="text" value="@ViewBag.DoctorName">
                            @*@Html.ValidationMessageFor(model => model.DoctorName, "", new {@class = "text-danger"})*@
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="control-label col-md-4">Amount</div>
                        <div class="col-md-8">
                            <input id="msamount" required="required" class="form-control twodigitdecimalnumber" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-4">Description</div>
                        <div class="col-md-8">
                            <input id="txtdescription" class="form-control" />
                        </div>
                    </div>






                    @*</div>*@

                    <div class="form-group">
                        <div class="col-md-12" style="margin-left:280px">
                            <input type="button" value="Save" onclick="javascript: SaveAmount();" class="btn green" style="width: 20%;" />
                            <input type="button" value="Cancel" onclick="javascript: goBack(); " class="btn btn-default" style="width: 20%;margin-left:5px" />
                        </div>
                    </div>
                </div>
                @*}*@
            </div>
        </div>

        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-3"></div>
</div>

@section page_styles {
 
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/typeahead/typeahead.css" />
<style>
    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-dropdown-menu { /* used to be tt-dropdown-menu in older versions */
        width: 422px;
        margin-top: 4px;
        padding: 4px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        line-height: 24px;
    }

        .tt-suggestion.tt-cursor, .tt-suggestion:hover {
            color: #fff;
            background-color: #0097cf;
        }

        .tt-suggestion p {
            margin: 0;
        }
</style>
}


@section Scripts {
    <script src="~/Scripts/jquery.format.1.05.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            allowInt();
            decimal_with_two_digit();
            //initDoctorAutoComplete();

        });

        //function initDoctorAutoComplete() {
        //    $('#DoctorName').typeahead({
        //        hint: true,
        //        highlight: true,
        //        minLength: 2,
        //        limit: 8
        //    }, {
        //        source: function (searchString, cb) {
        //            return $.ajax({
        //                dataType: 'json',
        //                type: 'POST',
        //                contentType: "application/json; charset=utf-8",
        //                url: " /PatientInformation/Patient/LoadDoctor",
        //                data: "{'SearchString':'" + searchString + "'}",
        //                chache: false,
        //                success: function (data) {
        //                    var result = [];
        //                    $.each(data, function (index, val) {
        //                        result.push({
        //                            Id: val.Id,
        //                            Name: val.Name,
        //                            value: val.Name
        //                        });
        //                    });
        //                    cb(result);
        //                }
        //            });
        //        }
        //    }).on("typeahead:selected", function (obj, patient) {
        //        // $("#ReferenceName").val(patient.Name);
        //        //LoadPrice();
        //        //$("#txtPatientName").val(patient.Name);
        //        //$("#txtMobileNumber").val(patient.Mobile);
        //    });

        //}




        @*function initConsultantAutoComplete() {
            $('#DoctorName').typeahead({
                hint: true,
                highlight: true,
                minLength: 2,
                limit: 8
            }, {
                source: function (searchString, cb) {
                    return $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        //  url: 'http://gd.geobytes.com/AutoCompleteCity?callback=?&q=' + q,ko
                        url: "@(@Url.Action("LoadDoctorList", "Appointment", new {Area = "AppointmentSystem"}))",
                        data: "{'SearchString':'" + searchString + "'}",
                        chache: false,
                        success: function (data) {
                            var result = [];
                            $.each(data, function (index, val) {
                                result.push({
                                    Id: val.Id,
                                    value: val.Name
                                });
                            });
                            cb(result);
                            //$('.nationality').removeClass('spinner');
                        }
                });
        }
        }).on("typeahead:selected", function (obj, patient) {
            $("#DoctorId").val(patient.Id);
            
        });

        }*@

        function allowInt() {
            $(".integer").format({ precision: 0, allow_negative: false, autofix: true });
        }

        function decimal_with_two_digit() {
            $(".twodigitdecimalnumber").format({ precision: 2, allow_negative: false, autofix: true });
        }

        function SaveAmount() {
            $.ajax({
                type: "GET",
                cache: false,
                url: "@(@Url.Action("SaveMsAmount", "MsAmountPurpose", new { Area = "DoctorManagement" }))",
                data: {
                    "doctorId": $('#DoctorId').val(),
                    //"doctorName": $('#DoctorName').val(),
                    "amount": $('#msamount').val(),
                    "description": $('#txtdescription').val(),
           
                },
            dataType: "html",
            success: function (result) {
                //Metronic.unblockUI();
                window.location = "@(@Url.Action("Index", "MsAmountPurpose", new { Area = "DoctorManagement" }))";
            },
            error: function (error) {
                //Metronic.unblockUI();
                var msg = 'Fail to update MsAmount information';
                alert(msg);
            }
        });
        }

        function goBack() {
            window.location = "@(@Url.Action("Index", "MsAmountPurpose", new { Area = "DoctorManagement" }))";
        }
    </script>

}










