@model IEnumerable<CsHealthcare.ViewModel.Patient.InPatientDrugReturnBillViewModel>
<div class="col-md-12 text-center">
    <h3>Drug Return Bill</h3>

</div>

<table class="table table-striped table-bordered table-hover" id="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.DrugQuantity)
            </th>
            <th>
                Unit Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugTotal)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int qty = (int)item.DrugQuantity;
            var a = (decimal)item.DrugTotal / qty;

            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DrugQuantity)
                </td>
                <td>
                    @a
                </td>

                <td style=" text-align: right">
                    @Html.DisplayFor(modelItem => item.DrugTotal)
                </td>



            </tr>
        }

        <tr>

            <td style="text-align: right; font-weight: bold" colspan="4">&nbsp;Total:</td>
            <td style="text-align: right; font-weight: bold">@Model.Sum(x => x.DrugTotal) </td>
        </tr>

    </tbody>
</table>
