@model IEnumerable<CsHealthcare.ViewModel.Ambulance.RentAmbulanceModel>


<table class="table table-striped table-bordered table-hover" id="menufacture">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToRoute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @*<th class="text-center">Actions</th>*@
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Date.ToString("dd/MM/yyyy")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VehicleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.VehicleFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToRoute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>


            @*<td class="text-center">
                <a class="btn btn-xs green" title="Edit" href="@(Url.Action("Edit", "RentAmbulance", new {area = "Ambulance", id = item.Id}))"><i class="glyphicon glyphicon-pencil"></i></a>

            </td>*@
        </tr>
    }

</table>

<script>

    jQuery(document).ready(function () {

        var table = $('#menufacture');

        // begin first table
        table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "Show _MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },

            "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.


            "lengthMenu": [
                [15, 25, 50, -1],
                [15, 25, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 15,
            "pagingType": "bootstrap_full_number",
            "language": {
                "search": "My search: ",
                "lengthMenu": "  _MENU_ records",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "columnDefs": [{  // set default column settings
                'orderable': false,
                'targets': [6]
            }, {
                "searchable": false,
                "targets": [6]
            }],
            "order": [
                [1, "desc"]
            ] // set first column as a default sort by asc
        });

        var tableWrapper = jQuery('#OptionList_wrapper');

        tableWrapper.find('.dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    });

</script>



